<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Your team" %>

<div class="main-container">
  <div class="info-container">
    <div>
      <h1>Project: <%= @project.name %></h1>
      <h3> Project Owner: <%= @project.user.user_name %></h1>

      <% if current_user.id == @project.user_id %>
        <%= render 'participants/new' %> 
      <% end %>
    </div>


  </div>

  <div class="info-container">
    <h3>Your Team</h3>
    <% @participants.each do |participant| %>
      <div class="participant" >
        <% participant.user.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill, class: "avatar" %>
        <% end %>
        <h1><%= participant.user.user_name %> </h1>
      </div>

    <% if current_user.id == @project.user_id %>
        <button>
          <%= link_to "Delete", project_participant_path(params[:project_id], participant ), method: :delete, 
                                                                                        data: { confirm: "Are you sure?" } %>
        </button> 
      <% end  %>
    <% end %>


  </div>

</div>


