<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Your team" %>

<div class="main-container">
  <div class="top">
    <div class="info-container">
      <div class="info-box">
          <div class="info">
            <p>Project name</p>
            <h3><%= @project.name %></h3>
          </div>
          <div class="info">
            <p> Project owner<p>
            <h3><%= @project.user.user_name %></h3>
          </div>
        </div>

        <div class="info-box">
          <div class="info">
            <p>Project stage</p>
            <h3><%= @project.stage %></h3>
          </div>

          <div class="info">
            <p>Project members</p>
            <% @participants.each do |participant| %>
              <div class="participants" >
                <small><%= participant.user.user_name %></small>
                <!-- comment in the below two lines to delete a test user with only an email address in production -->
                <!-- <small><%#= participant.user.email %></small> -->
                <%#= link_to "(X)", project_participant_path(params[:project_id], participant ), method: :delete, data: { confirm: "Are you sure?" } %>

                <% participant.user.photos.each do |photo| %>
                  <div class="icon">
                    <%= cl_image_tag photo.key, crop: :fill, class: "avatar-member" %>

                    <% if current_user.id == @project.user_id %>
                      <%= link_to project_participant_path(params[:project_id], participant ), method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    <% end  %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div class="add-container">
        <% if current_user.id == @project.user_id %>
          <div >
            <div class="form-property">
              <%= simple_form_for [ @project, @participant ] do |f| %>
                <%= f.collection_select :user_id, @users, :id, :email %>
                <%= f.button :submit, "add", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>

        <% end %>
    </div>

  <div class="properties">
    <div class="property-cards">
          <% @properties.each do |property|  %>
            <div class="property-card">
              <%= link_to project_property_path(params[:project_id],property) do %>
                <% if property.photos.first %>
                  <%= cl_image_tag property.photos.first.key, crop: :fill, class: "card-item" %>
                <% end %>
              <% end %>
              <div class="property-address"><%= property.street %> <%= property.number %>, <%= property.zipcode %> <%= property.city %></div>
              <div class="property-info"><%= property.lettable_area %> square meters | <%= property.rent_per_sqm %>€</div>
            </div>
          <% end %>
    </div>
  </div>

  </div>



</div>


