  <div class="properties">
    <div class="property-cards">
      <div class="mosaik-layout">
        <% @properties.each do |property|  %>
          <% if property.made_stage_2? == false %>
            <div class="property-card gray-out">
            <%= link_to project_property_path(params[:project_id],property) do %>
              <% if property.photos.first %>
                <%= cl_image_tag property.photos.first.key, crop: :fill, class: "card-item" %>
              <% end %>
            <% end %>
              <div class="property-address"><%= property.street %> <%= property.number %>, <%= property.zipcode %> <%= property.city %></div>
              <div class="property-info"><%= property.lettable_area %> square meters | <%= property.rent_per_sqm %>€</div>
                <div class="property-info">
                  <p>Property was eliminated in Stage 1</p>
                </div>
                <div>
              </div>
            </div>
          <% else %>
          <div class="property-card">
            <%= link_to project_property_path(params[:project_id],property) do %>
              <% if property.photos.first %>
                <%= cl_image_tag property.photos.first.key, crop: :fill, class: "card-item" %>
              <% end %>
            <% end %>
            <div class="property-address"><%= property.street %> <%= property.number %>, <%= property.zipcode %> <%= property.city %></div>
            <div class="property-info"><%= property.lettable_area %> square meters | <%= property.rent_per_sqm %>€</div>

            <div class="property-info">
              <p>Votes for Stage <%= @project.stage %></p>
              <i class="fas fa-vote-yea"></i> <%= property.votes.where(stage: @project.stage).count %> Votes / <i class="fas fa-users"></i> <%= @participants.count %> Team-Members
              <% if property.votes.where(stage: @project.stage).count == @participants.count %>
                <p> All votes have been cast </p>
                <p> Average by team <%= property.vote_average_stage_2.round(1) %> <i class="fas fa-star"></i> </p>
                <p> <%= property.winner?  %> </p>
              <% end %>
            </div>

            <div class="property-CTA">
              <div>
                <% if policy(property).edit? %>
                  <%= link_to "Edit", edit_project_property_path(params[:project_id],property), class: 'CTA' %>
                <% end %>
                <% if policy(property).destroy? %>
                  <%= link_to "Delete", project_property_path(params[:project_id],property), method: :delete, data: { confirm: "Are you sure?" }, class: 'CTA' %>
                <% end %>
              </div>
              <%= link_to project_property_path(params[:project_id],property) do %>
                <i class="far fa-eye"></i>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

    </div>

  <div id="map"
    style="position: sticky; right: 0px; width: 35%; height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
