<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="property_card">
      <h1>create a property</h1>
        <%= simple_form_for @property do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :street%>
          <%= f.input :number %>
          <%= f.input :floor%>
          <%= f.input :zipcode %>
          <%= f.input :city %>
          <%= f.input :rent_per_sqm %>
          <%= f.input :lettable_area %>
          <%= f.input :availability %>
          <%= f.button :submit, "submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <div class="col-sm">
    <div class="container">
      <div class="property_card">
        <h1>add a property from the web</h1>
        <%= simple_form_for @property do |f| %>
          <%= f.input :offer_url%>
        <%= f.button :submit, "submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="d-flex flex-row-reverse">
    <p><%= link_to 'back to your properties', properties_path %></p>
  </div>
</div>
