<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Add a property" %>

<div class="main-container">
  <div class="project-intro">
    <div>
      <p>Add a new property to your existing project. You can either enter the information manually or just simply get them from the web</p>
    </div>
  </div>

      <h3>Add manually</h3>
        <div class="form-property">
          <%= simple_form_for [ @project, @property ] do |f| %>
            <%= f.input :street, placeholder: 'Street', label:false %>
            <%= f.input :number, placeholder: 'Number', label:false %>
            <%= f.input :zipcode, placeholder: 'Zipcode', label:false %>
            <%= f.input :city, placeholder: 'City', label:false %>
            <%= f.input :rent_per_sqm, placeholder: 'Rent per squaremeter', label:false %>
            <%= f.input :lettable_area, placeholder: 'Lettable area', label:false %>
            <%= f.input :availability, placeholder: 'Availabe from', label:false %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
            <%= f.button :submit, "submit", class: "btn btn-primary" %>
          <% end %>
        </div>

        <h3>Get from the web</h3>
        <div class="form-property">
          <%= simple_form_for [ @project, @property ] do |f| %>
            <%= f.input :offer_url, placeholder: 'Enter URL from Immoscout, Immowelt, ...', label:false %>
          <%= f.button :submit, "submit", class: "btn btn-primary" %>
          <% end %>
        </div>

</div>
  <div class="d-flex flex-row-reverse">
    <p><%= link_to 'back to your properties',  project_properties_path %></p>
  </div>
</div>
