<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Stage #{@project.stage}: #{@property.street} #{@property.number}, #{@property.zipcode} #{@property.city}"  %>

<div class="main-container">
  <div class="sub-header-properties">
    <div>
      On this page you can vote on one property. Remember: every vote counts!
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="property-picture">
        <% if @property.photos.attached? %>
          <%= cl_image_tag @property.photos.first.key, crop: :fill, class: "card-item" %>
        <% end %>
      <div class="description">
        <h3>Description of the property</h3>
        <p><%= @property.description %></p>
      </div>
    </div>
  </div>


    <div class="col-sm-6">

      <% if @vote_check.nil? %>
        <%= render 'votes/star_rating' %>
      <% else %>
        <%= render 'votes/voted' %>
        <%= link_to "Remove all", project_property_vote_path(@project, @property),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" }  %>
      <% end %>

      <div class="chat-box">
        <h3>Message board</h3>
        <!-- <img src="https://res.cloudinary.com/lewagon-training/image/upload/v1614181587/Chat_swksf3.png" alt="Chat Messages"> -->
        <%= render 'chatrooms/show' %>
      </div>

    </div>
  </div>
</div>




