<div class="wrapper">
    <div class="sidebar">
      <img class="avatar" src="https://res.cloudinary.com/lewagon-training/image/upload/v1614273903/avatar_megan_er2nhn.png" />
      <div class="icon-bar">
          <ul id="nav">
            <%= link_to root_path do  %>
              <li id="home"><i class="fas fa-home"></i></li>
            <% end %>

            <%= link_to projects_path do  %>
              <li id="project"><i class="far fa-folder"></i></li>
            <% end %>

            <%= link_to projects_path do  %>
              <li id="property"><i class="fas fa-building"></i></li>
            <% end %>
          </ul>
      </div>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, :method=>'delete' do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
    <% end %>
    </div>
</div>
