<div class="wrapper">
    <div class="sidebar">
      <% current_user.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill, class: "avatar" %>
      <% end %>
      <div class="icon-bar">
          <ul id="nav">
            <%= link_to root_path do  %>
              <li id="home"><i class="fas fa-home"></i></li>
            <% end %>

            <%= link_to projects_path do  %>
              <li class="<%= active_class(projects_path) %>"><i class="far fa-folder"></i></li>
            <% end %>

            <%= link_to new_project_path do  %>
              <li class="<%= active_class(new_project_path) %>"><i class="fas fa-building"></i></li>
            <% end %>
          </ul>
      </div>

    <% if policy(Project).create? %>
      <%= link_to new_project_path do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, :method=>'delete' do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
    <% end %>
    </div>
</div>

