<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Edit a project" %>


<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <h1>Update your project: <%= @project.name %></h1>
    <%= simple_form_for @project do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :stage %>
      <%= f.button :submit, "save", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p><%= link_to 'back to your projects', projects_path %></p>
  </div>
</div>
