<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Edit project: #{@project.name}" %>

<div class="main-container form-property mt-5">
  <div class="form-wrapper w-50">

    <%= simple_form_for @project do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :stage %>
      <%= f.button :submit, "save", class: "button" %>
    <% end %>

    <div class="mt-5"><%= link_to projects_path do %></p>
      <i class="fas fa-arrow-left"></i> Back to projects
      <% end %>
    </div>
</div>

