<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Projects" %>

<div class="main-container">
  <div class="project-intro">
    <div>
      <p>Start here by adding a project. Add the city or location where you are choosing a new space.</p>
      <% if user_signed_in? %>
        <i class="fas fa-plus"></i> <%= link_to "create a new project", new_project_path, class: 'create-property' %>
      <% end %>
    </div>
  </div>

  <div class="stages">
    <div>
      <div class="stage-headline">Stage 1</div>
      <hr>
        <% @projects.each do |project|  %>
          <% if project.stage == 1 %>
            <div class="card-project">
                <div class="project-name"><%= project.name%></div>
                <div class="project-description"><%= project.description%></div>

                <div class="project-CTA">
                  <div>
                    <% if policy(project).edit? %>
                      <%= link_to "Edit", edit_project_path(project), class: 'CTA' %>
                    <% end %>

                    <% if policy(project).destroy? %>
                      <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: 'CTA' %>
                    <% end %>
                  </div>

                  <% project.participants.each do |participant| %>
                    <% if current_user.id == participant.user_id %>
                      <%= link_to project_participants_path(project) do %>
                        <i class="fas fa-users"></i>
                      <% end %>
                    <% end %>
                  <% end %>


                  <% if policy(project).edit? %>
                    <%= link_to new_project_participant_path(project) do %>
                      <i class="fas fa-user-plus"></i>
                    <% end %>
                  <% end %>

                  <% project.participants.each do |participant| %>
                    <% if current_user.id == participant.user_id %>
                      <%= link_to project_properties_path(project) do %>
                        <i class="far fa-eye"></i>
                      <% end %>
                    <% end %>
                  <% end %>

                </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <div>
      <div class="stage-headline">Stage 2</div>
      <hr>
        <% @projects.each do |project|  %>
          <% if project.stage == 2 %>
            <div class="card-project">
                <div class="project-name"><%= project.name%></div>
                <div class="project-description"><%= project.description%></div>

                <div class="project-CTA">
                  <div>
                    <% if policy(project).edit? %>
                      <%= link_to "Edit", edit_project_path(project), class: 'CTA' %>
                    <% end %>
                    <% if policy(project).destroy? %>
                      <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: 'CTA' %>
                    <% end %>
                  </div>

                  <% project.participants.each do |participant| %>
                    <% if current_user.id == participant.user_id %>
                      <%= link_to project_participants_path(project) do %>
                        <i class="fas fa-users"></i>
                      <% end %>
                    <% end %>
                  <% end %>

                  <% if policy(project).edit? %>
                    <%= link_to new_project_participant_path(project) do %>
                      <i class="fas fa-user-plus"></i>
                    <% end %>
                  <% end %>

                  <% project.participants.each do |participant| %>
                    <% if current_user.id == participant.user_id %>
                      <%= link_to project_properties_path(project) do %>
                        <i class="far fa-eye"></i>
                      <% end %>
                    <% end %>
                  <% end %>


                </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

