<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "this my header" %>

<div class="container">
    <br>
    <br>
  <div>
  <p>Start here by adding a project. Add the city or location where you are choosing a new space.</p>
  </div>
  <br>
  <br>
  <div class="card-project">
    <% @projects.each do |project|  %>
      <h4><%= project.name%></h4>
      <p><%= project.description%></p>
      <%= link_to "go to properties", project_properties_path(project) %>
      <%= link_to "edit project", edit_project_path(project) %>
      <%= link_to "delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
