<div class="container">
  <h1>all of your projects</h1>
  <div>
    <% @projects.each do |project|  %>
      <p><%= project.name%></p>
      <p><%= project.description%></p>
      <%= link_to "edit", edit_project_path(project) %>
      <%= link_to "delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <%= link_to "create a new project", new_project_path %>
  <% end %>
</div>
