<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "Projects" %>

<div class="container">
  <div class="container-projects">
    <div>
    <p>Start here by adding a project. Add the city or location where you are choosing a new space.</p>
    </div>

    <div class="row">
      <div class="col-sm">
        <h4>Stage 1</h4>
        <br>
          <div class="card-project">

            <div class="one-project">
              <% @projects.each do |project|  %>
              <h4><%= project.name%></h4>
              <p><%= project.description%></p>
              <%= link_to "go to properties", project_properties_path(project) %>
              <%= link_to "edit project", edit_project_path(project) %>
              <%= link_to "delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm">

        <h4>Stage 2</h4>
      </div>
    </div>
  </div>
</div>
