<%= render 'pages/sidebar' %>
<%= render 'pages/header', title: "New Projects" %>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <h2>create a new project</h2>
    <%= simple_form_for @project do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.button :submit, "save", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p><%= link_to 'back to your projects', projects_path %></p>
  </div>
</div>
