<% @votes.each do |vote| %>
  <li><h1 style='color:white;'><%= vote.user.email %> VOTED: LOCATION: <%= vote.vote_location %> PRICE: <%= vote.vote_price %> PRICE: <%= vote.vote_size %> on <%= vote.property.street %></h1></li>
<% end %>